fastapi
uvicorn
python-dotenv
pydantic-settings
sqlalchemy
asyncpg
python-jose
passlib
bcrypt==4.0.1
python-multipart
greenlet
opencv-python==4.9.0.80
mediapipe==0.10.14
numpy==1.26.4
imageio-ffmpeg>=0.5.1
